option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
packages:
  dnf:
    cmake: []
    libpng: []
    libjpeg-turbo-devel: []
    libX11: []
    gtk3: []
    openblas: []
    atlas: []
    gcc: []
    gfortran: []
    libSM: []
    libXext: []
    libXrender: []
    python3-wheel: []
commands:
  01_clean_cache:
    command: "rm -rf /var/cache/dnf/*"
    ignoreErrors: true